<div
  role="group"
  [formGroup]="parts"
  class="wrapper"
  [attr.aria-labelledby]="_formField.getLabelId()"
  (focusin)="onFocusIn($event)"
  (focusout)="onFocusOut($event)"
>
  <input
    matInput
    #maskDate
    class="mask-item date"
    [imask]="dateMaskConfig"
    [unmask]="false"
    (accept)="onMaskAccept()"
    (complete)="onMaskDateComplete()"
    [placeholder]="placeholder"
    formControlName="maskDate"
  />
  <input
    matInput
    #datePicker
    hidden
    [matDatepicker]="picker"
    (dateChange)="setMaskDateFromDatepicker($event)"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <!-- <mat-divider class="divider" vertical="true"></mat-divider> -->
  <ng-container *ngIf="withTime">
    <mat-divider vertical="true"></mat-divider>
    <input
      matInput
      #maskTime
      class="mask-item time"
      [imask]="timeMaskConfig"
      [unmask]="false"
      (accept)="onMaskInput()"
      (complete)="onMaskInput()"
      formControlName="maskTime"
    />
  </ng-container>
</div>
<!-- <div>
  <button mat-button (click)="toggleLocale()">Toggle Locale</button>
  <br />
  <button mat-button (click)="showDateTime()">Show DateTime</button>
</div> -->
