.wrapper {
  display: flex;
}

.mat-divider {
  margin: 0 4px;
}

.wrapper .divider {
  margin-right: 14px;
}

.mask-item.date {
  flex: 1 1 60%;
}

.mask-item.time {
  flex: 1 1 35%;
}

.mask-item {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: left;
}

:host.floating span {
  opacity: 1;
}
